h1 {
    color: red;
    background-color: deepskyblue;
    font-family: verdana;
    font-size: 150%;
}
#second_paragraph {
    border: 2px solid powderblue;
    padding: 5px;
    background: lime;
}