h1 {
    color: red;
    background-color: green;
}

#mainParagraph{
    color: blue;
}

#secondParagraph{
    color: #9933ff;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px;
    text-shadow: 3px 2px red;
}
